$default-gap: 16px;

@mixin button($type: default) {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0px $default-gap;
  border: 1px solid transparent;
  border-radius: calc($default-gap / 2);
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;

  @if $type == primary {
    background-color: #228be6;
    color: #ffffff;
  } @else if $type == default {
    border-color: #ced4da;
    background-color: #ffffff;
    color: #000000;
  }
}
