.box {
  max-width: 360px;
  border-radius: 8px;
  border: 1px solid #dee2e6;
  overflow: hidden;
}
.box figure {
  margin: 0;
}
.box img {
  display: block;
  width: 100%;
  height: 189px;
  object-fit: cover;
}
.box .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
  margin: 16px;
}
.box .title h3 {
  flex: 1;
  margin: 0;
  font-size: 20px;
  font-family: "Jua";
}
.box .title .chip {
  padding: 0 10px;
  border-radius: 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  background-color: #e7f5ff;
  color: #228be6;
}
.box .summary {
  margin: 16px;
  line-height: 1.666;
  color: #000000cc;
}
.box .footer {
  display: flex;
  flex-flow: row;
  gap: 16px;
  align-items: stretch;
  justify-content: flex-end;
  padding: 8px 16px 16px 16px;
  border-top: 1px solid #dee2e6;
}
.button {
  display: inline-flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 0px 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.button.primary {
  background-color: #228be6;
  color: #ffffff;
}
.button.default {
  border-color: #ced4da;
  background-color: #ffffff;
  color: #000000;
}
.button.btn-details {
  flex: 1;
}
.button.btn-favorite {
  flex: 0 0 auto;
  width: 36px;
  padding: 0px;
  color: #fa5252;
  font-size: 18px;
}
